{% extends 'base.html' %}

{% block body_block %}
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">

                <div class="x_title">


                    <h2>Add Permission</h2>

                    <div class="clearfix"></div>
                </div>


                <div class="x_content">
                    <form method="POST" class="form-horizontal form-label-left">

                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">User-Email<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Permissions <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ perm_form.perm }}
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                        {#        <input type="submit" value="Add permission">#}

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}