{% extends 'base.html' %}
{% block body_block %}



    <div class="row" style="margin-left: 60px;margin-right: 60px">

        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">

                <div class="x_title">
                    <h2>User Records</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="row justify-content-between">
                        <div class="col-6">
                            <br>
                            <a class="btn btn-primary" href="{% url 'create_record' %}">
                                <span><i class="fa fa-user-plus"></i></span>
                            </a>
                        </div>
                        <div class="col-6 mr-auto">
                            <form action="." method="POST" enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="form-group">
                                    <div style="margin-left: 40px">
                                        <label class="control-label">CSV Import</label>
                                        <div class="row">
                                            <div class="row col-md-6 col-sm-6 col-xs-6">
                                                {{ csv_form.csv_file }}
                                            </div>
                                            <button class="btn btn-primary col-md-4" type="submit">Upload Excel</button>

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <br/>


                    <br>
                    <br>

                    {% for message in messages %}
                        <div id="see_msg" hidden>{{ message }}</div>
                        {#                        <div class="row">#}
                        {#                            <div class="col-md-12 col-sm-12 col-xs-12">#}
                        {#                                <div align="center"#}
                        {#                                     class="alert alert-{{ message.tags }}"><a class="close" href="#"#}
                        {#                                                                               data-dismiss="alert">×</a>{{ message }}#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}

                    {% endfor %}
                    <br>
                    <div>
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Name</th>
                                <th>Roll No</th>
                                <th>Mobile Number</th>
                                <th>Department</th>
                                <th>Batch</th>
                                <th>Email</th>
                                <th>Created By</th>
                                <th>Created At</th>
                                <th>Edited By</th>
                                <th>Edited At</th>
                                <th>Action</th>

                            </tr>
                            </thead>


                            <tbody>

                            {% for record in user_records %}

                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ record.first_name }}</td>
                                    <td>{{ record.new_rollno }}</td>
                                    <td>{{ record.mobile_no }}</td>
                                    <td>{{ record.department }}</td>
                                    <td>{{ record.batch }}</td>
                                    <td>{{ record.email }}</td>
                                    {#                                    <td><a href="{{ record.user_image }}" target="_blank">#}
                                    {#                                        {{ record.first_name }}#}
                                    {#                                    </a></td>#}
                                    {#                                <td><img src="{{ record.image.url }}" style="width:25%;" alt=""></td>#}
                                    <td>{{ record.created_user.username }}</td>
                                    <td>{{ record.created_at }}</td>
                                    <td>{{ record.edited_user.username }}</td>
                                    <td>{{ record.edited_at }}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-6">
                                                <a href="{% url 'update_record' record.id %}">
                                                    <button class="btn btn-primary"><i style="height:5px;width:8px"
                                                                                       class="fa fa-pencil-alt"></i>
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a onclick="confirm_delete({{ record.id }})">
                                                    <button class="btn btn-primary"><i style="height:5px;width:8px"
                                                                                       class="fa fa-trash"></i>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                    </div>


                </div>

            </div>

        </div>

    </div>
    </div>



    <script>

        $('#datatable').dataTable({
            "scrollX": true
        });

        function confirm_delete(id_val) {
            new swal({
                title: "Are you sure?",
                text: "The record gets deleted",
                icon: "warning",
                showCancelButton: true,
                dangerMode: true,
            }).then(function (isConfirm) {
                window.location.href = "/students/delete_record/" + id_val.toString();
            })
        }

        $(window).on('load', function () {
            var msg = $("#see_msg").html();
            if ((msg !== undefined) && (msg !== "")) {
                new swal({
                    title: msg,
                    {#text: "The record gets deleted",#}
                    icon: "success",
                    dangerMode: true,
                }).then(function (isConfirm) {
                    window.location.href = "/students/dashboard/";
                })
            }
        });


    </script>


{% endblock %}