<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/bootstrap-social.css' %}" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
{#{% extends "admin/index.html" %}#}
{#{% load static %}#}
<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome </h1>
                                </div>
                                {% if messages %}

                                    {% for message in messages %}


                                        <div class="alert alert-danger">
                                            <a class="close" href="#" data-dismiss="alert">×</a>

                                            {{ message }}

                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form class="user" method="POST">
                                    {% csrf_token %}
                                    {#                                        {{ form.as_p }}#}

                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                               id="exampleInputEmail" name="email_input"
                                               placeholder="Enter Email Address...">
                                    </div>

                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Login"/>
                                    <hr>

                                    <a class="btn  btn-social btn-primary"
                                       href="{% url 'social:begin' 'azuread-oauth2' %}">
                                        <span class="fab fa-microsoft"></span>
                                        Sign in with Microsoft
                                    </a>

                                </form>
                                <hr>
                                {#                                <div class="text-center">#}
                                {#                                    <a class="small" href="#">Forgot Password?</a>#}
                                {#                                </div>#}
                                {#                                <div class="text-center">#}
                                {#                                    <a class="small" href="#">Create an Account!</a>#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>