

    .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}


.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after{
    border-left-color: #fff;


}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*.drop-down02 {*/
/*            position: relative;*/
/*        }*/

/*        .drop-down02 .sub-menu02 {*/
/*            position: absolute !important;*/
/*            left: 100%;*/
/*            top: 0;*/
/*        }*/

/*        .drop-down02 .dropdown-toggle {*/
/*            padding: .25rem 1.1rem !important;*/
/*        }*/

/*        @media screen and (max-width: 767px) {*/
/*            .drop-down02 .sub-menu02 {*/
/*                position: static !important;*/
/*            }*/
/*        }*/


/*.dropdown-menu li {*/
/*  position: relative;*/
/*}*/
/*.dropdown-menu .dropdown-submenu {*/
/*  position: absolute;*/
/*  left: 100%;*/
/*  top: -7px;*/
/*}*/
/*.dropdown-menu .dropdown-submenu-left {*/
/*  right: 100%;*/
/*  left: auto;*/
/*}*/
/*.dropdown-menu > li:hover > .dropdown-submenu {*/
/*  display: block;*/
/*}*/